<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>payment</key>
	<string>H5Source/project/TFB/</string>
	<key>topic_analysis</key>
	<string>TJ/H5Project/project/ZXB/</string>
	<key>error_book</key>
	<string>TJ/H5Project/project/TFB/</string>
</dict>
</plist>
